---
layout: default
title: Ministries
permalink: /ministries/
---

<p>
  Duane and Emily minister in a unique fashion as they share together their testimony, teaching of God's Word, and
  operating in the power of the Holy Spirit.  Duane has a prophetic anointing on his life, and Emily compliments him
  with discernment and visions that emphasize the prophetic words given. They believe that everyone can and should hear
  God's voice in their life as the Word states.
</p>

<div>
  {% for post in site.ministries %}
    <div class="col-md-6 col-lg-4 stack">
      {% include tile-small.html %}
    </div>
  {% endfor %}
</div>